
/.vs
*.bin
*.obj
/DomainInterfaces/bin
/DomainInterfaces/obj
/DomainManager/bin
/DomainManager/obj

/DTO/bin
/DTO/obj
/Entity/bin
/Entity/obj
/IdentityInterfaces/bin
/IdentityInterfaces/obj
/IdentityManager/bin
/IdentityManager/obj
/ManagedData/bin
/ManagedData/obj
/Management/MapManager/bin
/Management/MapManager/obj
/MapManagerInterfaces/bin
/MapManagerInterfaces/obj
/NLayer/bin
/NLayer/obj
